body {
    height: 100vh;
    margin: 0;
    background-color:#f0e8f7;
    overflow-x: hidden;
}

h1 {
    color: white;
    background-color: white;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    grid-template-areas: 
        'hd hd hd as as as'
        'nv nv nv nv nv nv'
        'mn mn sc sc sc sc'
        'ft ft ft ft ft ft';
    max-width: 100vw;
}

header {
    grid-area: hd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9b59b6;
}

nav {
    grid-area: nv;
    display: flex;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}  

aside{
    margin-top: 10px ;
    grid-area: as;
    background-color: #f0e8f7;
}

main{
    grid-area: mn;
    display: flex;
    justify-content: center;
    background-color:#9b59b6;
}

#main {
    border: 2px #7e3e91;
    padding: 20px;
    background-color:#f0e8f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 20px;
    margin-right: 20px;
}



section{
    grid-area: sc;
    background-color:#9b59b6;
}

footer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: ft;
    background-color:#7e3e91;

}

header, nav, aside, main, section {
    margin: 0;
    padding: 0;
}

#logga {
    max-width: 100%;
    max-height: 100%;
}

#logga2{
    object-fit: contain;
    height: auto;
    width: 200px;
    margin-left: 290px;
}

#rubrik{
    color:#7e3e91;
    font-family: 'Righteous', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

}

#healthhub-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px; 
    line-height: 1.6;
    text-align:start;
    margin: 5px;
}
.aside_bar {
    grid-area: as;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0e8f7;
    padding: 10px;
}

.aside_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
    background-color: #9b59b6;
}

#aside_link{
 font-size: 25px;
 font-family: 'Righteous', sans-serif;
 text-decoration: none;
 text-transform: uppercase;
 color: #9b59b6;
}

#aside_link:hover{
    color: #7e3e91;
}

#nav_link { 
 font-family: 'Righteous', sans-serif;
 text-decoration: none;
 text-transform: uppercase;
 color: #9b59b6;
}

#nav_link:hover{
    color: #7e3e91;
}

.image-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

#lilatjej {
    width: 100%;
    height: auto;
}

.text-box {
    position: absolute;
    top: 80px;
    right: 110px;
}

.text-box p {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    margin: 0;
    font-size: 25px;
    color:#f0e8f7 ;
}

#footer_text{
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    font-size: 25px;
    margin-left: 85px;
    color: #f0e8f7;
}


#wrapper_inlagg{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    grid-template-areas: 
        'hd hd hd as as as'
        'nv nv nv nv nv nv'
        'mn mn mn mn mn mn'
        'ft ft ft ft ft ft';
    max-width: 100vw;
}

#Main2 {
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #7e3e91;
}
  
.card-box1,
.card-box2,
.card-box3 {
    position: relative;
    height: 370px;
    border: 4px solid #9b59b6;
    overflow: hidden;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}
  
.card-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-size: 26px;
    text-transform: uppercase;
    font-family: 'Righteous', sans-serif;
    color: white;
    text-align: center;
    width: 100%;
}
  
#aktivitet,
#mat,
#sleep {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  

#wrapper_card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    grid-template-areas: 
        'hd hd hd as as as'
        'nv nv nv nv nv nv'
        'mn mn mn mn mn mn'
        'ft ft ft ft ft ft';
    max-width: 100vw;
}

#Main2 {
    grid-area: mn;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #7e3e91;
}

#Main3 {
  grid-area: mn;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color:#9b59b6;
}

.post {
  border: 2px solid #7e3e91;
  padding: 20px;
  border-radius: 8px;
  background-color: #f0e8f7;
  width: 65%;
  margin-left: 20px;
}

.post-title {
  font-size: 24px;
  margin-bottom: 10px;
  color: #7e3e91;
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
}

.post-content {
  font-size: 16px;
  margin-bottom: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-details {
  font-size: 14px;
  color: #666;
  margin-top: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


  
  